.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 3%;
  height: 30%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

a , .socialIcons{
  color  : rgb(48, 45, 45) !important;
  &:hover{
    color  : #AD1B02 !important;
    cursor: pointer;
  }
}

